h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color:rgb(151, 51, 51);
}
canvas{
    border: 2px solid rgb(100, 100, 30);
    animation: example 4s  2s infinite;
}
@keyframes example{
    from{
        box-shadow: 5px 5px 30px black;
    }
    to{
        box-shadow: 5px 5px 30px red;
    }
}